@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --darker-color: #1B7432;
    --primary-color: #52A032;
    --secondary-color: #67B900;
    --grey: #a9a9a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: white;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-weight: 800;
}

.highlight {
    background-image: linear-gradient(90deg, var(--darker-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tagline {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grey);
}

/* ========== HEADER ========== */
header {
    padding: 1.5rem 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

/* ========== HEADER NAV ========== */
.header-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-nav a {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: text-decoration .3s, font-weight .3s, color .3s;
}

.header-nav a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: var(--primary-color);
}

.header-nav .sign-up {
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: solid 2px transparent;
    border-radius: 0.75rem;
    transition: background-color .3s, color .3s, border .3s;
}

.header-nav .sign-up:hover {
    background-color: white;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}

/* ========== SIGN IN ========== */
.signin-container {
    padding: .5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.signin-form {
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.signin-form .tagline {
    font-size: 1.2rem;
}

.signin-form p {
    font-size: 1rem;
}

.signin-form form {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
}

.signin-form form label {
    font-size: 1.2rem;
    font-weight: 700;
}

.signin-form form .input-box {
    width: 100%;
    padding: .6rem;
    border: solid 2px var(--primary-color);
    border-radius: .75rem;
    font-size: 1rem;
}

.signin-form form .checkbox-and-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-form form .forget-pass {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}

.signin-form form .forget-pass:hover {
    text-decoration: underline;
}

.signin-form form .signin-button {
    align-self: center;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    border: solid 2px transparent;
    border-radius: 1rem;
    transition: background-color .3s, color .3s, border .3s;
}

.signin-form form .signin-button:hover {
    cursor: pointer;
    background-image: linear-gradient(0, white, white);
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}

.signin-form .signin-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.signin-form .signup a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}

.signin-form .signup a:hover {
    text-decoration: underline;
}

.signin-image {
    width: 50vw;
}

/* ========== SIGN UP ========== */
.signup-container {
    padding: .5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.signup-image {
    width: 40vw;
}

.signup-form {
    width: 60vw;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.signup-form .tagline {
    font-size: 1.2rem;
}

.signup-form p {
    font-size: 1rem;
}

.signup-form form {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.2rem;
}

.signup-form .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.signup-form form label {
    font-size: 1.2rem;
    font-weight: 700;
}

.signup-form form .input-box {
    width: 100%;
    padding: .6rem;
    border: solid 2px var(--primary-color);
    border-radius: .75rem;
    font-size: 1rem;
}

.signup-form form .checkbox {
    align-self: center;
}

.signup-form form .signup-button {
    /* width: 15%; */
    align-self: center;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    border: solid 2px transparent;
    border-radius: 1rem;
    transition: background-color .3s, color .3s, border .3s;
}

.signup-form form .signup-button:hover {
    cursor: pointer;
    background-image: linear-gradient(0, white, white);
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}

.signup-form .signup-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.signup-form .signin a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}

.signup-form .signin a:hover {
    text-decoration: underline;
}

/* ========== HOME ========== */
.home {
    padding: 0 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.introduction-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.3rem;
}

.introduction {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
}

.introduction .tagline {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--grey);
}

.introduction .button {
    padding: 1rem 1.75rem;

    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border: transparent;
    border-radius: 0.75rem;
    transition: transform .3s;
}

.introduction .button:hover {
    background-image: linear-gradient(45deg, var(--darker-color), var(--secondary-color));
    transform: translateX(2rem);
}

.introduction .description {
    font-size: 1.2rem;
    font-weight: 600;
}

.detail {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.detail-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.detail-item .highlight {
    font-size: 1.8rem;
}

/* ========== NAVBAR ========== */
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: black;  
}

.navbar .active-page {
    padding: .5rem 1rem;
    background-image: linear-gradient(90deg, var(--darker-color), var(--secondary-color));
    border-radius: 0.75rem;
    color: white;
}

.navbar .active-page a {
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}

/* ========== ABOUT ========== */
.about-container {
    padding: 1.2rem 6rem 4rem 6rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-description {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
    text-align: justify;
}

.about-description .highlight {
    background-image: linear-gradient(180deg, var(--darker-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-description p {
    font-size: 1.2rem;
}

.about-description .feature {
    display: flex;
    align-items: center;
    gap: 2.3rem;
    font-weight: 700;
}

.about-description .feature .feature-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

/* ========== COURSE ========== */
.course-container {
    padding: 1.2rem 6rem 4rem 6rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
}

.courses {
    padding: 0 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 3rem;
}

.course-item {
    padding: .5rem 1.5rem 2rem 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
    border: solid 1px black;
    box-shadow: 4px 4px black;
    transition: transform .4s;
}

.course-item:hover {
    transform: translateY(-1rem);
}

.course-item img {
    align-self: center;
}

.course-item .course-desc {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}

.course-item .course-desc .desc {
    font-weight: 700;
    color: var(--grey);
}

/* ========== CONTACT ========== */
.contact-container {
    padding: 1.2rem 6rem 2rem 6rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.contact-description {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
    text-align: justify;
}

.contact-description p {
    font-size: 1.2rem;
}

.contact-description .social-media {
    display: flex;
    gap: 2rem;
}

.contact-description .social-media i {
    font-size: 2rem;
    color: black;
    transition: color .4s;
}

.contact-description .social-media i:hover {
    color: var(--primary-color);
}

.contact-description .social-media a {
    text-decoration: none;
}